body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: roboto;
}

.card1{

    font-weight: 500;
    padding: 5%;
    background-color: rgb(220, 219, 219);

}

.tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
        top: 50%;
            left: 50%;
        transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
        width: 97%;
            text-align: center;
        height: 10%;
            padding-top: 20px;

 }

 button{

    border-radius: 30px;
    border: none;
    padding: 5px;
 }

 input[type="text"]{

    border: 1px solid #ccc;
    border-radius: 4px;
    
 }
  
  
  input[type="text"]:focus {
    outline: none; /* Remove the default blue outline */
    
    border: 2px solid rgba(81, 203, 238, 1); /* Optional: add a custom border */
  }
  
  