body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Teko", sans-serif;
}

label {
    display: block;
}

input {
    font-size: 20px;
    border: 2px solid ;
}



a {
    color: gold;
}

.image-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: 100%;
}

.card1 {
    background-color: rgba(0, 0, 0, 0.807);
    color: rgba(218, 165, 32, 0.8);
    font-size: 30px;
    padding: 50px;
}

.card2 {
    font-size: 30px;
    padding-bottom: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
}

.card3 {
    background-color: rgba(0, 0, 0, 0.807);
    color: rgba(218, 165, 32, 0.8);
    font-size: 30px;
    padding: 50px;
    height: 100%;
}

button {
    display: block;
    color: rgba(218, 165, 32, 0.8);
    border-color: rgba(218, 165, 32, 0.8);
    background-color: transparent;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 30px;
    transition: 0.3s;
}

button:hover {
    color: gold;
    border-color: gold;
    transform: scale(1.1);
}

input.invalid {
    border-color: red;
}

input.valid {
    border-color: green;
}
